<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Book</title>
    </head>
    <body>
        <header>
            <h1>Recipe Book</h1>
        </header>
        {% block content %} 
        {% endblock %}

        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </body>
</html>